@model RemovSizeDTO
<form method="post">
    <div asp-validation-summary="All"></div>
    <input type="hidden" value="@Model.Id" asp-for="Id" />
    <input type="hidden" value="@Model.Size" asp-for="Size" />
    <div class="alert alert-danger">
        <strong>@Model.Size!</strong> Olcunu Silmek Isteyirsinizmi?
    </div>
    <button type="submit" class="btn btn-danger">Yes</button>
    <a asp-action="index" class="btn btn-success">No</a>
</form>